<div class="main">
  <app-header></app-header>
  <div class='section'>

    <img class="mainimage" src="assets/angular.jpg" alt="">


    <div class='inputText'>
      <label for="fname">Search By Status:</label>
      <input class="serachinut" type="text" name='search' [(ngModel)]="filteredStatus">

    </div>



    <div class="datatable">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Description</th>
            <th>Priority </th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks | searchfilter:filteredStatus:'status'">
            <td>{{task[1].description}}</td>
            <td>{{task[1].priority}}</td>
            <td>{{task[1].status}}</td>
            <td><a class="btnaction btn btn-danger" (click)='deleteTask(task[0])'>Delete</a>
              <a class="btnaction btnupdate btn btn-primary" (click)="openDialog(task,'edit')">Update</a></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <button type="button" (click)="openDialog('new','')" class="btn btn-primary btnadd">Add new Row</button>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="footer">
      <p class="footerText">Designed By Sunil</p>
    </div>
  </div>


</div>